<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Reservas</title>
</head>
<body>
    <div layout:fragment="content" class="container mt-5">
        <h3 class="text-primary">Todas las Reservas</h3>
        <a href="/usuario/reservas/nuevo" class="btn btn-success mb-3">Agregar Nueva Reserva</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th>Sala</th>
                    <th>Acciones</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas}">
                    <td th:text="${reserva.usuario}"></td>
                    <td th:text="${reserva.fecha}"></td>
                    <td th:text="${reserva.horaInicio}"></td>
                    <td th:text="${reserva.horaFin}"></td>
                    <td th:text="${reserva.sala.nombre}"></td>
                    <td>
                        <a th:href="@{/usuario/reservas/editar/{id}(id=${reserva.id})}" class="btn btn-warning btn-sm">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

