<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesion</title>
</head>
<body>
    <div class="container my-5" layout:fragment="content">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="bg-white shadow rounded p-5">
                    <h3>Inicio de sesión</h3>
                    <div class="alert alert-danger my-3" th:if="${param.error}">
                        El email o la contraseña son incorrectas
                    </div>
                    <div class="alert alert-success my-3" th:if="${param.msgExito}">
                        Te has registrado correctamente
                    </div>
                    <form th:action="@{/login}" method="post" class="mt-5">
                        <div class="mb-2">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="Ingrese su email" name="username"
                            >
                        </div>
                        <div class="mb-2">
                            <label>Password</label>
                            <input type="password" class="form-control" id="password"
                                   placeholder="Ingrese su password" name="password"
                            >
                        </div>
                        <button class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>