<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Registro de usuario</title>
</head>
<body>
    <div class="container mt-5" layout:fragment="content">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-4">
                <div class="bg-white shadow rounded p-5">
                    <h3>Registro de usuario</h3>
                    <form th:action="@{''}" method="post" class="mt-5" th:object="${usuario}">
                        <div class="mb-2">
                            <label>Nombres</label>
                            <input type="text" id="nombres" th:field="*{nombres}"
                                   class="form-control" th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{nombres}"
                                 th:if="${#fields.hasErrors('nombres')}">
                            </div>
                        </div>

                        <div class="mb-2">
                            <label>Apellidos</label>
                            <input type="text" id="apellidos" th:field="*{apellidos}"
                                   class="form-control" th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{apellidos}"
                                 th:if="${#fields.hasErrors('apellidos')}">
                            </div>
                        </div>

                        <div class="mb-2">
                            <label>Email</label>
                            <input type="email" id="email" th:field="*{email}"
                                   class="form-control" th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{email}"
                                 th:if="${#fields.hasErrors('email')}">
                            </div>
                        </div>

                        <div class="mb-2">
                            <label>Password</label>
                            <input type="password" id="password1" th:field="*{password1}"
                                   class="form-control" th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{password1}"
                                 th:if="${#fields.hasErrors('password1')}">
                            </div>
                        </div>

                        <div class="mb-2">
                            <label>Repetir password</label>
                            <input type="password" id="password2" th:field="*{password2}"
                                   class="form-control" th:errorClass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{password2}"
                                 th:if="${#fields.hasErrors('password2')}">
                            </div>
                        </div>

                        <div class="text-end mt-3">
                            <a href="/login" class="btn btn-light">Cancelar</a>
                            <button class="btn btn-primary">Registrar</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>